#! /bin/sh

. /home/{{ user }}/.env

tail -n0 -F {{ azk_agent_log_file }} 2> /dev/null &
TAIL_PID="$!"

UPSTART_AZK_AGENT_JOB="azk-agent"
initctl start ${UPSTART_AZK_AGENT_JOB} > /dev/null 2>&1
echo "" >> {{ azk_agent_log_file }}
kill ${TAIL_PID} > /dev/null 2>&1

echo "Starting azk. Maybe downloading images be needed. Please be patient."
echo "$> ${AZK_RESTART_COMMAND}"
(
  cd {{ src_dir }}
  sh -c "${AZK_RESTART_COMMAND}"
)
