#!/bin/sh
# post-receive hook
. /home/{{ user }}/.env

echo "$> git --work-tree={{ src_dir }} --git-dir={{ git_dir }} checkout ${GIT_CHECKOUT_COMMIT_BRANCH_TAG} -f"
git --work-tree={{ src_dir }} --git-dir={{ git_dir }} checkout ${GIT_CHECKOUT_COMMIT_BRANCH_TAG} -f

cd {{ src_dir }}

echo "$> ${AZK_AGENT_START_COMMAND}"
${AZK_AGENT_START_COMMAND}

echo ""; echo "Starting azk. Maybe downloading images be needed. Please be patient."

echo "$> ${AZK_RESTART_COMMAND}"
sh -c "${AZK_RESTART_COMMAND}"
