#!/bin/sh
# post-receive hook

set -e

. /home/{{ user }}/.env

VERSION_PREFIX='v'

config_git() {
  (
    if ! git config --get --global user.name || ! git config --get --global user.email; then
      git config --global user.name "azk Deploy Bot"
      git config --global user.email "no-reply@azukiapp.com"
    fi
  ) > /dev/null 2>&1
}

bump_version() {
  PREVIOUS_VERSION=$( git tag | grep -P "^${VERSION_PREFIX}\d+$" | tail -1 | sed s/^v// )
  LATEST_VERSION="${VERSION_PREFIX}$(( PREVIOUS_VERSION + 1 ))"
  git tag -a $LATEST_VERSION -m "$( git log --format=%s -n 1 ${GIT_REF} )"
}

$HOME/bin/git-checkout
$HOME/bin/azk-start

# If it's not a rollback, bump a new version
if [ ! $( git tag --points-at ${GIT_REF} ) ]; then
  config_git
  bump_version
  echo ""
  echo "App was sucessfully upgraded to ${LATEST_VERSION}."
  echo ""
fi