description "azk agent"

start on started docker
stop on stopping docker

respawn

kill timeout 20

pre-start script
  AZK_DOMAIN='{{azk_domain}}'
  if [ -z $AZK_DOMAIN ] || [ "$AZK_DOMAIN" = "dev.azk.io" ]; then
    AZK_AGENT_PING_FILE="/home/{{ user }}/.azk/data/run/ping"
  else
    AZK_AGENT_PING_FILE="/home/{{ user }}/.azk/data/ns/${AZK_DOMAIN}/run/ping"
  fi

  rm -f ${AZK_AGENT_PING_FILE}
end script

script
  exec > {{ azk_agent_log_file }} 2>&1
  ENV_FILE='/home/{{ user }}/.env'
  [ -f $ENV_FILE ] && . $ENV_FILE

  NO_DAEMON_FLAG="--no-daemon"
  AZK_AGENT_START_COMMAND=$( echo '{{ azk_agent_start_command }}' | sed s/${NO_DAEMON_FLAG}// )
  exec su {{ user }} -c "${AZK_AGENT_START_COMMAND} --no-daemon"
end script

post-start script
  AZK_DOMAIN='{{azk_domain}}'
  if [ -z $AZK_DOMAIN ] || [ "$AZK_DOMAIN" = "dev.azk.io" ]; then
    AZK_AGENT_PING_FILE="/home/{{ user }}/.azk/data/run/ping"
  else
    AZK_AGENT_PING_FILE="/home/{{ user }}/.azk/data/ns/${AZK_DOMAIN}/run/ping"
  fi

  while ! [ -f ${AZK_AGENT_PING_FILE} ]; do
    initctl status $UPSTART_JOB | grep -qE "(stop|respawn)/" && exit 1
    sleep 0.1
  done
end script